// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2{
  text-align: center;
}

.thunderstorm{
  background-image: image-url("thunderstorm.png");
  color: white;
}
.drizzle{
  background-image: image-url("drizzle.png");
  color: white;
}
.rain{
  background-image: image-url("rain.png");
  color: white;
}
.snow{
  background-image: image-url("snow.png");
  color: black;
}
.fog{
  background-image: image-url("fog.png");
  color: black;
}
.tornado{
  background-image: image-url("extreme-weather.png");
  color: white;
}
.clouds{
  background-image: image-url("cloudy.png");
  color: white;
}
.hurricane{
  background-image: image-url("exreme-weather.png");
  color: white;
}
.cold{
  background-image: image-url("cold.png");
  color: black;
}
.hot{
  background-image: image-url("hot.png");
  color: black;
}
.wind{
  background-image: image-url("wind.png");
  color: black;
}
.hail{
  background-image: image-url("hail.png");
  color: black;
}
.sunny{
  background-image: image-url("sunny.png");
  color: black;
}




  



